:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: 'Montserrat';


  line-height: 1.5;
  font-weight: 400;

  --sgds-blue: #1f69ff;
  --sgds-purple: #5925dc;
  --sgds-pink: #d63384;
  --sgds-red: #d7260f;
  --sgds-yellow: #f79009;
  --sgds-green: #0a8217;
  --sgds-cyan: #0f71bb;
  --sgds-white: #fff;
  --sgds-gray: #344054;
  --sgds-gray-dark: #000;
  --sgds-gray-100: #f7f7f9;
  --sgds-gray-200: #e4e7ec;
  --sgds-gray-300: #d0d5dd;
  --sgds-gray-400: #98a2b3;
  --sgds-gray-500: #667085;
  --sgds-gray-600: #344054;
  --sgds-gray-700: #1d2939;
  --sgds-gray-800: #000;
  --sgds-gray-900: #000;
  --sgds-primary: #5925dc;
  --sgds-secondary: #1f69ff;
  --sgds-success: #0a8217;
  --sgds-info: #0f71bb;
  --sgds-warning: #f79009;
  --sgds-danger: #d7260f;
  --sgds-light: #f7f7f9;
  --sgds-dark: #000;
  --mfaNavy: #15477c;
  --sgds-primary-rgb: 89, 37, 220;
  --sgds-secondary-rgb: 31, 105, 255;
  --sgds-success-rgb: 10, 130, 23;
  --sgds-info-rgb: 15, 113, 187;
  --sgds-warning-rgb: 247, 144, 9;
  --sgds-danger-rgb: 215, 38, 15;
  --sgds-light-rgb: 247, 247, 249;
  --sgds-dark-rgb: 0, 0, 0;
  --sgds-white-rgb: 255, 255, 255;
  --sgds-black-rgb: 0, 0, 0;
  --sgds-body-color-rgb: 29, 41, 57;
  --sgds-body-bg-rgb: 255, 255, 255;

  color-scheme: light dark;
  background-color: hsl(0, 0, 0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.navIcon {
  max-width: 5vw;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

Nav {
  background-color: var(--mfaNavy);
}

a.nav-link {
  color: var(--sgds-white) !important;
}

a.nav-link:hover {
  border-color: var(--sgds-info) !important;
  border-width: 5px !important;
  animation: ease-in-out 2s !important;
}

a.nav-link.active {
  animation: ease-in-out 2s !important;
  border-color: var(--sgds-info) !important;
  border-width: 10px !important;
}

#bottomFooter {
  margin-top: 5vw;
  width: 100%;
  height: 8rem;
}

a::after {
  content: none !important;
}

@media only screen and (max-width: 400px) {
  .navIcon {
    max-width: 20vw;
  }

  #bottomFooter {
    margin-top: 5vw;
    width: 100%;
    height: 10rem;
  }
}