:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  --powderBlue: #9cc7e8;
  --yInMnBlue: #464d77;
  --lapisLazuli: #05668D;
  --payneGray: #19647E;
  --redwood: #b26e63;
  --cinnabar: #e15634;
  --bittersweet: #ff715b;
  --sunset: #fcd29f;
  --flax: #f3de8a;
  --xandous: #e3b23c;
  --apricot: #ffd8be;
  --seaGreen: #519872;
  --englishViolet: #593f62;
  --carribeanCurrent: #38686a;
  --celadon: #acd8aa;
  --grey: #58504A;
  --eggplant: #443742;
  --gold: #FFD500;
  --brownSugar: #bb7e5d;
  --empireStrikesBackBlue: #76b3dd;
  --empireStrikesBackGrey: #b4bac0;
  --empireStrikesBackDarkGrey: #3c3c44;
  --empireStrikesBackBrown: #a17b57;

  color-scheme: light dark;
  color: var(--gold);
  background-color: hsl(0, 0, 0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#timeline {
  width: 100%;
  background-color: var(--empireStrikesBackBrown);
  border-radius: 50px;
  display: flex;
}

.pictureGroup {
  display: flex;
  flex-flow: column wrap;
  justify-content: auto;
}

.secondPic {
  flex: 1;
  max-width: 20vw;
  max-height: 20vw;
  transition: 1s ease-in-out;
}

.secondPic:hover {
  flex: 2;
  max-width: 30vw;
  max-height: 30vw;
  transition: 1s ease-in-out;
}

.thirdPic {
  flex: 1;
  max-width: 10vw;
  max-height: 10vw;
  transition: 1s ease-in-out;
}

.thirdPic:hover {
  flex: 2;
  max-width: 15vw;
  max-height: 15vw;
  transition: 1s ease-in-out;
}

.showcaseDisplay {
  width: 100%;
  display: flex;
  background-color: var(--grey);
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 5%;
  justify-content: auto;
  flex-direction: row;
}

h2 {
  font-size: 8vw;
  text-align: center;
  margin-inline-end: 0.1em;
}

h3 {
  font-size: 3vw;
  text-align: center;
  color: var(--flax);
  font-weight: bold;
  background-color: none;
  border-radius: 100px;
}

.pictureDisplay {
  flex: 2;
  max-width: 50vw;
  max-height: 50vw;
}

.videoDisplay {
  flex: 2;
  max-width: 60vw;
  max-height: 60vw;
}

i {
  color: var(--bittersweet);
  font-size: 3vw;
  transition: 1s ease-in-out;
}

i:hover {
  color: var(--cinnabar);
  transition: 1s ease-in-out;
  transform: rotate(45deg);
  font-size: 4vw;
  padding: 1vw;
}

.logo {
  flex: 2;
  max-width: 25vw;
  max-height: 25vw;
  border-radius: 55px;
}

.pictureCaption {
  flex: 1;
  font-size: 5vw;
  color: var(--gold);
  margin: 1vw;
}

.yearDisplay {
  text-decoration: none;
  font-size: 5vw;
  margin: 1vw;
  flex: 1;
  text-align: center;
  font-weight: bold;
  transition: 1s ease-in-out;
  color: var(--empireStrikesBackGrey);
}

.yearDisplay-active {
  text-decoration: none;
  font-size: 5vw;
  margin: 2vw;
  flex: 2;
  background-color: var(--gold);
  border-radius: 50px;
  text-align: center;
  font-weight: bold;
  transition: 1s ease-in-out;
  color: var(--powderBlue);
}

.yearDisplay:hover {
  font-size: 7vw;
  margin: 2vw;
  flex: 2;
  background-color: var(--flax);
  color: var(--powderBlue);
  border-radius: 50px;
  transition: 1s;
}

.paragraph {
  text-align: center;
  padding: 2vw;
  display: flex;
}

.paragraphText {
  padding: 2vw;
  text-align: justify;
  margin-inline-start: 0.1em;
  /* background-color: var(--brownSugar); */
}

footer {
  font-size: 1vw;
  width: 100%;
  background-color: var(--empireStrikesBackGrey);
  color: var(--empireStrikesBackDarkGrey);
  padding: 1vw;
  position: fixed;
  left: 0;
  bottom: 0;
}

body {
  min-height: 100vh;
  margin-bottom: 10vw;
}

#navbar {
  background-color: var(--empireStrikesBackGrey);
  width: 97%;
  padding: 1.5vw;
}

.navbar-button {
  text-decoration: none;
  color: var(--empireStrikesBackDarkGrey);
  font-size: 4vw;
  padding: 1vw;
  transition: 1s ease-in-out;
}

.navbar-button-active {
  text-decoration: none;
  color: var(--flax);
  font-size: 4vw;
  padding: 1vw;
  margin: 2vw;
  border-radius: 10px;
  background-color: var(--empireStrikesBackBlue);
}

.navbar-button:hover {
  transition: 1s;
  border-radius: 10px;
  background-color: var(--empireStrikesBackBlue);
}

#fireDen {
  width: 60vw;
  height: 60vw;
}

h1 {
  font-size: 20vw;
  line-height: 1.1;
  font-weight: 900;
  text-align: center;
  margin: none;
  /* text-shadow: 10px 5px 10px var(--gold); */
  transition: 1s ease-in-out;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

.hoverEffect {
  transition: 1s ease-in-out;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hoverEffect:hover {
  color: var();
  font-size: 10vw;
  transition: 1s;
}

.padding1vw {
  flex: 1;
  text-align: justify;
  padding: 1vw;
}

p {
  flex: 1;
  font-size: 3vw;
  font-weight: 400;
  padding: 1vw;
}

.intro {
  display: flex;
  flex-direction: column;
  background-color: none;
  position: relative;
  perspective: 500px;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#introPara {
  font-size: 10vw;
  text-align: center;
  position: relative;
  color: var(--gold);
  transform: rotateX(20deg);
  margin-block-start: 0.1em;
  margin-block-end: 0em;
}

.introText {
  margin-block-start: 0em;
  font-size: 5vw;
  text-align: justify;
  position: relative;
  color: var(--gold);
  font-weight: bold;
  transform: translateZ(-150px) rotateX(20deg);
  /* animation: scroll 60s linear forwards; */
}

@media screen and (max-width: 600px) {
  footer {
    font-size: 4vw;
  }
}

@keyframes scroll {
  from {
    top: 0;
  }

  to {
    top: -7500px
  }
}